@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed');

* {
  box-sizing: border-box;
  
}

body {
  font-family: 'Oswald', sans-serif;
  
}

#hero {
  background-color: black;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0;
  font-weight: 900px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.title {
  font-size: 3rem;
}
.title span {
  color: rgb(180, 2, 2);
}

.line-1{
    position: relative;
    top: 50%;  
    width: 8em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    // font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}


.anim-typewriter{
  animation: typewriter 1.8s steps(35) 1s 1 normal both,
             blinkTextCursor 1.2s steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 6em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.label {
  color: white;
  font-size: 30px;
}


.button {
  background-color: rgb(180, 2, 2);
  color: white;
  font-family: 'Oswald', sans-serif;
  margin-left: 10px;
}

.card {
  height: 100%;
}

#form {
  display: flex;
  justify-content: center;
}

.card-image {
  display: flex; 
  justify-content: center;
}

.card-content {
  margin-top: 10px;
}
.image{
  width: 150px;
  margin: 10px;
}

img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-radius: 100%;
    margin-top: 5px;
  }

  #hero-background {
    background-color: black;
  }


  #hero-background .container {
    color: white;
  }

#candidateName {
  font-weight: bold; 
  font-size: 20px;
  margin-bottom: 2px;
}

#candidateParty {
  font-size: 22px;
  margin-bottom: 2px;
}

#candidateWebsite{
  color: rgb(122, 121, 121);
  text-decoration: underline;
}


section {
  text-align: center;
  .container {
    padding-bottom: 3rem;
    position: relative;
  }
  &:last-of-type {
    .container {
      border-bottom: 0;
    }
  }
}


.home h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.25rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 1.5rem 1.5rem 2.5rem;
}

#hero-background h2 {
  color: white;
}
#hero-background h2 span {
  
  color: rgb(180, 2, 2);
}



/*https://keithclark.co.uk/articles/single-element-pure-css-pie-charts/*/
.pie {
  /* Basic layout */
  min-width: 200px;
  min-height: 200px;
  border-radius: 50%;
  border: 1px solid white;
}
.pie {
  background-image: conic-gradient(
    #e7e7e7 calc(3.6deg * var(--segment1, 100)),
    rgb(180, 2, 2) 0 calc(3.6deg * var(--segment2, 100)),
  );
}

#left-box {
  display: flex;
  justify-content: center;
  padding: 25px;
  margin: 20px;
}


#right-box {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: flex-start;
  padding: 25px 0;
  margin: 20px;
  font-size: 1.5rem;
}
#right-box span {
  font-weight: bold;
  margin-right: 15px;
  font-size: 1.75rem;
}

#turnout {
  font-size: 18px;
}

nav {
  background-color: #111;
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px;
  color: white;
}

nav a, nav a:hover {
  color: white;
}


.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container div {
  min-height: 10rem;
}
.tagline {
  color: #999999;
  font-size: 2rem;
}